version: '3'
services:
  mongo:
    image: alez/mongo-raspi:3
    ports:
    - "27017:27017"
    deploy:
       mode: global
       restart_policy:
         condition: none
       placement:
         constraints: [node.role == worker]

  mosquitto:
    image: alez/mosquitto-raspi
    ports:
    - "1883:1883"
    deploy:
      mode: global
      restart_policy:
         condition: none
      placement:
        constraints: [node.role == worker]

  test-app:
    image: alez/test-app-raspi:3
    deploy:
      mode: global
      restart_policy:
         condition: on-failure
         delay: 20s
         max_attempts: 3
      placement:
        constraints: [node.role == worker]
